@page "/"

<div style="height:400px; display: flex; flex-direction: column;">
    <div>@JsRuntime.GetType().Name</div>

    <a href="javascript:void(0)" @onclick='() => { NavigationManager.NavigateTo("/modal"); }'> Modal</a>
    <a href="javascript:void(0)" @onclick='() => { NavigationManager.NavigateTo("/table"); }'> Table link</a>
    <a href="javascript:void(0)" @onclick='() => { NavigationManager.NavigateTo("/table-custom-td"); }'> Table Custom Td link</a>
    <a href="javascript:void(0)" @onclick='() => { NavigationManager.NavigateTo("/datepicker"); }'> Datepicker link</a>
    <a href="javascript:void(0)" @onclick='() => { NavigationManager.NavigateTo("/select"); }'> Select link</a>
    <a href="javascript:void(0)" @onclick='() => { NavigationManager.NavigateTo("/tabs"); }'> Tabs link</a>
    <a href="javascript:void(0)" @onclick='() => { NavigationManager.NavigateTo("/new-tabs"); }'> New Tabs link</a>
    <a href="javascript:void(0)" @onclick='() => { NavigationManager.NavigateTo("/scheduler"); }'> Scheduler link</a>
    <a href="javascript:void(0)" @onclick='() => { NavigationManager.NavigateTo("/radio-buttons"); }'> Radio-Buttons link</a>
    <a href="javascript:void(0)" @onclick='() => { NavigationManager.NavigateTo("/dragging-modal"); }'> Dragging Modal</a>
    <a href="/zoom"> Zoom</a>
    <a href="/cropper"> Cropper</a>
    <a href="/image-cropper"> Cropper Image</a>
    <a href="/test"> Test</a>
    <a href="/slider"> Slider</a>
    <a href="/expanded-menu"> Expanded Menu</a>
    <a href="/toggle"> Toggle</a>
    <a href="/range"> Range</a>
    <a href="/inputs"> Inputs</a>


    @* <a href="/table"> Table link</a> *@
    @* <a href="/datepicker"> Datepicker link</a> *@
    @* <a href="/select"> Select link</a> *@
    @* <a href="/tabs"> Tabs link</a> *@
    @* <a href="/new-tabs"> New Tabs link</a> *@
    @* <a href="/scheduler"> Scheduler link</a> *@
    @* $1$ <a href="/carousel"> Carousel link</a> #1# *@
    @* <a href="/radio-buttons"> Radio-Buttons link</a> *@
    @* <a href="/dragging-modal"> Dragging Modal</a> *@
    @* <a href="/modal"> Modal</a> *@
    @* <a href="/zoom"> Zoom</a> *@
    @* <a href="/cropper"> Cropper</a> *@
    @* <a href="/image-cropper"> Cropper Image</a> *@
    @* <a href="/test"> Test</a> *@
    @* <a href="/slider"> Slider</a> *@
    @* <a href="/expanded-menu"> Expanded Menu</a> *@
    @* <a href="/toggle"> Toggle</a> *@
    @* <a href="/range"> Range</a> *@
</div>