@page "/inputs"
@using Bch.Components.InputFile
@using Bch.Components.FileDrop

<div class="inputs-page">
    @* 1. request dialog *@
    <button @onclick="OnRequestFileAsync">Request File Dialog</button>
    @* 2. input type="file" *@
    <BchInputFile OnChange="e => OnChangeAsync(e)" multiple create-image-preview/>
    @* 3. drag and drop *@

    <BchFileDrop @bind-IsDragging="_isDraggingOver"
                 OnFileDrop="OnFileDropAsync" class="file-drop-area" create-image-preview>
        <div class="text">@(_isDraggingOver ? "Drop it here" : "Drop files in")</div>
    </BchFileDrop>

    @if (!string.IsNullOrEmpty(_draggedImage))
    {
        <img src="@_draggedImage"
             alt="No Image"
             style="width: 200px; height: 200px; border: 1px solid black;"/>
    }

</div>

<style>
    .file-drop-area {
        width: 200px;
        height: 200px;
        background: red;
        color: white;

        display: flex;
        justify-content: center;
        align-items: center;
    }
</style>