@page "/panzoom"
@using Bch.Components.Panzoom
@using Bch.Components.Panzoom.Models
@using Bch.Components.Cropper
@using Bch.Components.Cropper.Models
@using Bch.Components.Zoom.Models

<div>
    <h3>Panzoom Component Test</h3>

    <div class="test-cases">
        <div class="test-case">
            <h4>Basic</h4>
            <div class="demo-box">
                <div class="demo-area">
                    @* <BchPanzoom> *@
                    @*     <div style="width:100%;height:100%;background:#ff2d2d;"></div> *@
                    @* </BchPanzoom> *@

                    <BchPanzoom ImageUrl="_content/Bch.Integration.Pages/img/slider-test-image.svg"
                                BackgroundColor="green"
                                ScaleOnMouseWheel="true"
                                ViewMode="ViewMode.StretchByWidth"
                                MinRectangleWidth="100"
                                MinRectangleHeight="100"/>
  
                </div>
            </div>
        </div>

        <div class="test-case">
            <h4>With Options</h4>
            <p>Pan only when zoomed, clamp scale to 0.5-4x</p>
            <div class="demo-box">
                <div class="demo-area">
                    @* <BchPanzoom Options="new PanzoomOptions{ MinScale=0.5f, MaxScale=4f, PanOnlyWhenZoomed=true, InitialScale=1f }"> *@
                    @*     <div style="width:100%;height:100%;background:#ff2d2d;"></div> *@
                    @* </BchPanzoom> *@

                    <BchCropper BackgroundColor="green"
                                ScaleOnMouseWheel="true"
                                CropperType="CropperType.MovableRectangle"
                                CroppedWidth="200"
                                Base64Image="_content/Bch.Integration.Pages/img/slider-test-image.svg"
                                Ratio="@(16.0f / 9.0f)"
                                ViewMode="ViewMode.Default"
                                MinRectangleWidth="100"
                                MinRectangleHeight="100"/>
  
                </div>
            </div>
        </div>
    </div>
</div>


<style>
    html {
        height: 100%;
    }

    body {
        position: absolute;
        width: 100%;
    }

    #app {
        height: 100%;
    }
</style>