@page "/zoom"
@using Bch.Components.Zoom

<div>
    <h3>Zoom Component Test</h3>

    <div class="test-cases">
        <div class="test-case">
            <h4>Basic</h4>
            <div class="demo-box">
                <div class="demo-area">
                    <BchZoom BoundsByParent="true"
                             ZoomOnMouseWheel="true"
                             MinScale="0.5f"
                             MaxScale="6f"
                             ViewMode="Bch.Components.Zoom.Models.ViewMode.StretchToBorders"
                             ZoomContext="_zoomContext">
                        <div class="img-wrapper" mousewheel-prevent-default="true" mousewheel-stop-propagation="true">
                            <img src="_content/Bch.Integration.Pages/img/slider-test-image.svg" 
                                 style="width:100%;height:auto;display:block;pointer-events: none;" />
                        </div>
                    </BchZoom>
                </div>
            </div>
        </div>

        <div class="test-case">
            <h4>With Custom Factor</h4>
            <p>Similar to Cropper parameters</p>
            <div class="demo-box">
                <div class="demo-area">
                    <BchZoom BoundsByParent="true"
                             ZoomOnMouseWheel="true"
                             MinScale="0.5f"
                             MaxScale="8f"
                             Factor="0.009f"
                             ViewMode="Bch.Components.Zoom.Models.ViewMode.StretchToBorders"
                             ZoomContext="_zoomContext2">
                        <div class="img-wrapper" mousewheel-prevent-default="true" mousewheel-stop-propagation="true">
                            <img src="_content/Bch.Integration.Pages/img/slider-test-image.svg" 
                                 style="width:100%;height:auto;display:block;pointer-events: none;" />
                        </div>
                    </BchZoom>
                </div>
            </div>
        </div>
    </div>
</div>