.bch-input-file-container {
    width: 290px;
    display: flex;
    position: relative;
    will-change: filter;
    background: #FFFFFF;
    filter: drop-shadow(0px 4px 8px rgba(183, 183, 183, 0.2));
    border-radius: 10px;
    outline: none;
}

.bch-input-file-container.bch-show-selected-files {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.bch-input-file-container > .bch-button {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 10px;
    cursor: pointer;
    position: relative;
}

.bch-input-file-container > .bch-button > .bch-file-input {
    position: absolute;
    inset: 0;
    opacity: 0;
    cursor: pointer;
    z-index: 1;
}

.bch-input-file-container > .bch-button > label {
    margin-right: 6px;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 32px;
    color: #131212;
    caret-color: #131212;
    cursor: pointer;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.bch-input-file-container > .bch-button > .bch-btn {
    min-width: 16px;
    min-height: 16px;
    border: none;
    background-size: 16px 16px !important;
    margin-right: 6px;
    cursor: pointer;
    position: relative;
    z-index: 2;
}

.bch-input-file-container > .bch-button > .bch-btn.bch-clear {
    background: transparent url(img/clear.svg) center no-repeat;
}

.bch-input-file-container:not(.bch-multiple-files) > .bch-button > .bch-btn.bch-clear {
    margin-left: auto;
}

.bch-input-file-container > .bch-button > .bch-btn.bch-expand {
    background: transparent url(img/select-arrow.svg) center no-repeat;
    margin-left: auto;
    margin-right: 12px;
    background-size: 15px !important;
    transition: all 0.25s ease;
}

.bch-input-file-container.bch-show-selected-files > .bch-button > .bch-btn.bch-expand {
    transform: rotate(180deg);
}

.bch-input-file-container > .bch-button > .bch-file-select-icon {
    width: 18px;
    height: 18px;
    background: url(img/upload.svg) center no-repeat;
    background-size: 18px;
    margin-left: auto;
}

/* Themes */
.bch-theme-light .bch-input-file-container,
.bch-theme-light.bch-input-file-container {
    background: #FFFFFF;
}

.bch-theme-dark .bch-input-file-container,
.bch-theme-dark.bch-input-file-container {
    background: #111827;
    filter: drop-shadow(0px 6px 12px rgba(0, 0, 0, 0.35));
}


.bch-theme-dark.bch-input-file-container > .bch-button > label,
html.bch-theme-dark .bch-no-theme-specified.bch-input-file-container > .bch-button > label {
    color: #E5E7EB;
    caret-color: #E5E7EB;
}

/* THEME: LightGreen (current) */

.bch-theme-light-green.bch-input-file-container > .bch-button > .bch-file-select-icon,
html.bch-theme-light-green .bch-no-theme-specified.bch-input-file-container > .bch-button > .bch-file-select-icon {
    background: url(img/upload-green.svg) center no-repeat;
    background-size: 18px;
}

.bch-theme-light-green.bch-input-file-container > .bch-button > .bch-btn.bch-clear,
html.bch-theme-light-green .bch-no-theme-specified.bch-input-file-container > .bch-button > .bch-btn.bch-clear {
    background-image: url(img/clear-green.svg);
}

.bch-theme-light-green.bch-input-file-container > .bch-button > .bch-btn.bch-expand,
html.bch-theme-light-green .bch-no-theme-specified.bch-input-file-container > .bch-button > .bch-btn.bch-expand {
    background-image: url(img/select-arrow-green.svg);
}

/* THEME: Light (silver monochrome) */

.bch-theme-light.bch-input-file-container > .bch-button > .bch-file-select-icon,
html.bch-theme-light .bch-no-theme-specified.bch-input-file-container > .bch-button > .bch-file-select-icon {
    background: url(img/upload.svg) center no-repeat;
    background-size: 18px;
}

.bch-theme-light.bch-input-file-container > .bch-button > .bch-btn.bch-clear,
html.bch-theme-light .bch-no-theme-specified.bch-input-file-container > .bch-button > .bch-btn.bch-clear {
    background-image: url(img/clear.svg);
}

.bch-theme-light.bch-input-file-container > .bch-button > .bch-btn.bch-expand,
html.bch-theme-light .bch-no-theme-specified.bch-input-file-container > .bch-button > .bch-btn.bch-expand {
    background-image: url(img/select-arrow.svg);
}

/* THEME: Dark */

.bch-theme-dark.bch-input-file-container > .bch-button > .bch-file-select-icon,
html.bch-theme-dark .bch-no-theme-specified.bch-input-file-container > .bch-button > .bch-file-select-icon {
    background: url(img/upload-white.svg) center no-repeat;
    background-size: 18px;
}

.bch-theme-dark.bch-input-file-container > .bch-button > .bch-btn.bch-clear,
html.bch-theme-dark .bch-no-theme-specified.bch-input-file-container > .bch-button > .bch-btn.bch-clear {
    background-image: url(img/clear-white.svg);
}

.bch-theme-dark.bch-input-file-container > .bch-button > .bch-btn.bch-expand,
html.bch-theme-dark .bch-no-theme-specified.bch-input-file-container > .bch-button > .bch-btn.bch-expand {
    background-image: url(img/select-arrow-white.svg);
}

