<div @attributes="AdditionalAttributes"
     @onbchfiledrop="e => OnFileDrop.InvokeAsync(e)"
     @onbchdropdragover="OnDragOver"
     @onbchdropdragleave="OnDragLeave"
     @ondragover="() => { }"
     @ondragover:preventDefault
     bch-file-drop-zone
     class="bch-component">
    @ChildContent
</div>