.bch-draggable-panel {
    width: 100%;
    display: flex;
    min-height: 100%;
}

    .bch-draggable-panel > .bch-item {
        display: flex;
        transition: min-width 0.1s linear;
    }

    .bch-draggable-panel > .bch-item > .bch-after,
    .bch-draggable-panel > .bch-item > .bch-before {
        visibility: collapse;
    
        width: 1000000000px;
        max-width: 0;
        height: 100%;
    
        display: block;
        transition: max-width 0.1s linear;
    }
    
    .bch-draggable-panel.bch-start-drag > .bch-item,
    .bch-draggable-panel.bch-start-drag > .bch-item > .bch-after,
    .bch-draggable-panel.bch-start-drag > .bch-item > .bch-before {
        transition: none;
    }

    .bch-draggable-panel > .bch-item > .bch-content-wrapper {
        width: fit-content;
        height: 100%;
        display: flex;
    }
    
    .bch-draggable-panel > .bch-item.bch-dragging,
    .bch-draggable-panel > .bch-item.bch-dragging > div {
        display: none;
    }
    
.bch-dragging-item {
    width: fit-content;
    height: fit-content;
}

/* Light Green Theme */
.bch-theme-light-green .bch-draggable-panel {
    background: #E8F5E8;
}

/* Light Theme */
.bch-theme-light .bch-draggable-panel {
    background: #F7FAFC;
}

/* Dark Theme */
.bch-theme-dark .bch-draggable-panel {
    background: #2D3748;
}