@using Bch.Components.Panzoom.Models

<div id="@_containerId"
     class="bch-panzoom-container"
     @onbchpanzoomscroll="OnScrollCustom"
     @ondblclick="OnDoubleClick"
     @onmousedown="OnMouseDown"
     @onmouseup="OnMouseUp"
     @onmouseleave="OnMouseUp"
     @onmousemove="OnMouseMove"
     @onbchpanzoomtouchstart="OnTouchStartCustom"
     @onbchpanzoomtouchmove="OnTouchMoveCustom"
     @onbchpanzoomtouchend="OnTouchEndCustom"
     tabindex="0"
     @ref="_containerRef">
    <div id="@_contentId" class="bch-panzoom-content" style="@GetTransformStyle()">
        @if (ChildContent is null)
        {
            <div class="bch-panzoom-default"></div>
        }
        else
        {
            @ChildContent
        }
    </div>
</div>


