.bch-cropper-container {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;

    visibility: hidden;
    touch-action: none;
}

.bch-cropper-container.bch-loaded {
    visibility: visible;
}

.bch-cropper-container.top-or-bottom-constrained {
    touch-action: auto;
}

.bch-cropper-container .bch-image-wrapper {
    display: flex;
    width: fit-content;
    height: fit-content;
}

.bch-cropper-container .bch-image-wrapper > img {
    will-change: transform;
    object-fit: cover;
    pointer-events: none;

    width: 100%;
    height: 100%;
}

.bch-cropper-container .bch-image-wrapper > .bch-image {
    will-change: transform;
    pointer-events: none;

    width: 100%;
    height: 100%;
    background-repeat: no-repeat !important;
    background-position: center !important;
    background-size: contain !important;
}

.bch-cropper-container > .bch-canvas-holder {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    display: flex;
}

.bch-cropper-container > .bch-canvas-holder > canvas {
    position: absolute;
    pointer-events: none;
    /*opacity: 0.bch-3;*/
    visibility: hidden;
}