@page "/cropper"
@using BlazorComponentHeap.Core.Models.Zoom
@using BlazorComponentHeap.Core.Models.Cropper

@* Base64Image="_content/BlazorComponentHeap.Components/img/cropper/an225_mriya.jpg" *@

<p onclick="history.go(-1)">Back</p>

<div class="page-cnt">
    <div class="cropper-wrapper">
        <BCHCropper @ref="_bchCropper"
                    BackgroundColor="green"
                    ScaleOnMouseWheel="true"
                    CropperType="CropperType.MovableRectangle"
                    CroppedWidth="200"
                    UseTouchRotation="true"
                    Base64Image="img/slider-test-image.svg"
                    Ratio="@(16.0f / 9.0f)"
                    ViewMode="ViewMode.Default"
                    MinRectangleWidth="100"
                    MinRectangleHeight="100"/>
    </div>

    <button @onclick="OnGetResultAsync">Get Result</button>

    <div class="example-cropped-image">
        @if (!string.IsNullOrWhiteSpace(_resultImage))
        {
            <img src="@_resultImage" alt=""/>
        }
    </div>
</div>

<style>
    html {
        height: 100%;
    }

    body {
        height: 100%;
    }

    #app {
        height: 100%;
    }
    
    .example-cropped-image {
        width: 200px; 
        height: 200px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
</style>