@page "/table-custom-td"
@using Bch.Components.Table
@using Bch.Components.Table.TableColumn
@using Bch.Modules.Themes.Models

<div style="display: flex; flex-direction: column; gap: 40px; padding: 30px;">

    <div>
        <h5>Light Green</h5>
        <CascadingValue Value="BchTheme.LightGreen">
            <BchTable TRowData="UserModel"
                      Items="_users">
                <BchTableColumn TRowData="UserModel" Expression="c => c.Id" Title="Id" />
                <BchTableColumn TRowData="UserModel" Expression="c => c.Name" Title="Name" />
                <BchTableColumn TRowData="UserModel" Expression="c => c.Email" Title="Email">
                    <TdTemplate>
                        <div class="bch-td-content">
                            <div>Custom td</div>
                            <div>@context.Email</div>
                        </div>
                    </TdTemplate>
                </BchTableColumn>
            </BchTable>
        </CascadingValue>
    </div>

    <div>
        <h5>Light</h5>
        <CascadingValue Value="BchTheme.Light">
            <BchTable TRowData="UserModel"
                      Items="_users">
                <BchTableColumn TRowData="UserModel" Expression="c => c.Id" Title="Id" />
                <BchTableColumn TRowData="UserModel" Expression="c => c.Name" Title="Name" />
                <BchTableColumn TRowData="UserModel" Expression="c => c.Email" Title="Email">
                    <TdTemplate>
                        <div class="bch-td-content">
                            <div>Custom td</div>
                            <div>@context.Email</div>
                        </div>
                    </TdTemplate>
                </BchTableColumn>
            </BchTable>
        </CascadingValue>
    </div>

    <div>
        <h5>Dark</h5>
        <CascadingValue Value="BchTheme.Dark">
            <BchTable TRowData="UserModel"
                      Items="_users">
                <BchTableColumn TRowData="UserModel" Expression="c => c.Id" Title="Id" />
                <BchTableColumn TRowData="UserModel" Expression="c => c.Name" Title="Name" />
                <BchTableColumn TRowData="UserModel" Expression="c => c.Email" Title="Email">
                    <TdTemplate>
                        <div class="bch-td-content">
                            <div>Custom td</div>
                            <div>@context.Email</div>
                        </div>
                    </TdTemplate>
                </BchTableColumn>
            </BchTable>
        </CascadingValue>
    </div>
</div>

@code {
    class UserModel
    {
        public int Id { get; set; }
        public string Name { get; set; }
        public string Email { get; set; }
    }

    private List<UserModel> _users = new()
    {
        new UserModel { Id = 1, Name = "FirstName 1", Email = "email1@gmail.com" },
        new UserModel { Id = 2, Name = "FirstName 2", Email = "email2@gmail.com" },
        new UserModel { Id = 3, Name = "FirstName 3", Email = "email3@gmail.com" },
    };
}
