@page "/table-custom-td"
@using Bch.Components.Table
@using Bch.Components.Table.TableColumn
@using Bch.Modules.Themes.Models

<div>
    <h3>Custom Table Component Test</h3>

    <div class="test-cases">
        <div class="themes-section test-case">
            <h3>Themed Variants</h3>
            <div class="themes-row">
                <div class="theme-col">
                    <h4>Light Green</h4>
                    <CascadingValue Value="BchTheme.LightGreen">
                        <BchTable TRowData="UserModel"
                                  Items="_users">
                            <BchTableColumn TRowData="UserModel" Expression="c => c.Id" Title="Id" />
                            <BchTableColumn TRowData="UserModel" Expression="c => c.Name" Title="Name" />
                            <BchTableColumn TRowData="UserModel" Expression="c => c.Email" Title="Email">
                                <TdTemplate>
                                    <div class="bch-td-content">
                                        <div>Custom td</div>
                                        <div>@context.Email</div>
                                    </div>
                                </TdTemplate>
                            </BchTableColumn>
                        </BchTable>
                    </CascadingValue>
                </div>
                
                <div class="theme-col">
                    <h4>Light</h4>
                    <CascadingValue Value="BchTheme.Light">
                        <BchTable TRowData="UserModel"
                                  Items="_users">
                            <BchTableColumn TRowData="UserModel" Expression="c => c.Id" Title="Id" />
                            <BchTableColumn TRowData="UserModel" Expression="c => c.Name" Title="Name" />
                            <BchTableColumn TRowData="UserModel" Expression="c => c.Email" Title="Email">
                                <TdTemplate>
                                    <div class="bch-td-content">
                                        <div>Custom td</div>
                                        <div>@context.Email</div>
                                    </div>
                                </TdTemplate>
                            </BchTableColumn>
                        </BchTable>
                    </CascadingValue>
                </div>
                
                <div class="theme-col">
                    <h4>Dark</h4>
                    <CascadingValue Value="BchTheme.Dark">
                        <BchTable TRowData="UserModel"
                                  Items="_users">
                            <BchTableColumn TRowData="UserModel" Expression="c => c.Id" Title="Id" />
                            <BchTableColumn TRowData="UserModel" Expression="c => c.Name" Title="Name" />
                            <BchTableColumn TRowData="UserModel" Expression="c => c.Email" Title="Email">
                                <TdTemplate>
                                    <div class="bch-td-content">
                                        <div>Custom td</div>
                                        <div>@context.Email</div>
                                    </div>
                                </TdTemplate>
                            </BchTableColumn>
                        </BchTable>
                    </CascadingValue>
                </div>
            </div>
        </div>
    </div>
</div>

@code {
    class UserModel
    {
        public int Id { get; set; }
        public string Name { get; set; }
        public string Email { get; set; }
    }

    private List<UserModel> _users = new()
    {
        new UserModel { Id = 1, Name = "FirstName 1", Email = "email1@gmail.com" },
        new UserModel { Id = 2, Name = "FirstName 2", Email = "email2@gmail.com" },
        new UserModel { Id = 3, Name = "FirstName 3", Email = "email3@gmail.com" },
    };
}
