.bch-table-head-container {
    display: flex;
    flex-direction: column;
}

    .bch-table-head-container > .head-name-container {
        height: 54px;
        display: flex;
    }   

        .bch-table-head-container > .head-name-container.bch-filtering {
            border-bottom: 1px solid #E9EAEC;
        }
        
        .bch-table-head-container > .head-name-container > .head-name {
            width: 100%;
            height: 100%;
            background: #F9FAFC;
            display: flex;
            align-items: center;
            padding: 0 12px 0 12px;
        }
    
            .bch-table-head-container > .head-name-container > .head-name .bch-sort-checkbox {
                margin-right: 8px;
                cursor: pointer;
            }
    
            .bch-table-head-container > .head-name-container > .head-name > .title {
                font-family: 'Inter';
                font-style: normal;
                font-weight: 600;
                font-size: 16px;
                line-height: 19px;
                color: #515358;
            }

.bch-theme-dark .bch-table-head-container > .head-name-container > .head-name .example-table-birthday-text,
.bch-theme-dark.bch-table-head-container > .head-name-container > .head-name .example-table-birthday-text { color: #E5E7EB; }

    .bch-table-head-container .head-filtering {
        height: 70px;
        align-items: center;
        display: flex;
        padding: 0 12px 0 12px;
    }

        .bch-table-head-container .head-filtering .bch-input-text,
        .bch-table-head-container .head-filtering .bch-input-number {
            background: #FFFFFF;
            border: 1px solid #E9EAEC;
            border-radius: 10px;
            height: 40px;
            width: 100%;
            background: url("img/search.svg") no-repeat;
            background-position: 5%;
            padding-left: 35px;
        }

            .bch-table-head-container .head-filtering .bch-input-text::placeholder,
            .bch-table-head-container .head-filtering .bch-input-number::placeholder {
                font-family: 'Roboto';
                font-style: normal;
                font-weight: 400;
                font-size: 12px;
                line-height: 32px;
                color: #555555;
            }

        .bch-table-head-container .head-filtering .bch-select-data {
            width: 100%;
            border: 1px solid #E9EAEC;
            border-radius: 10px;
            height: 40px;
            padding-left: 17px;
            -webkit-appearance: none;
            appearance: none;
            background-image: url("img/arrow-bottom.svg");
            background-repeat: no-repeat;
            background-position: calc(100% - 17px) center;
        }

        .bch-table-head-container .head-filtering .bch-input-text:focus,
        .bch-table-head-container .head-filtering .bch-input-number:focus,
        .bch-table-head-container .head-filtering .bch-select-data:focus{
            outline: none;
        }

/* Theme overrides */
.bch-theme-light .bch-table-head-container > .head-name-container > .head-name { background: #F1F3F5; }
.bch-theme-light .bch-table-head-container > .head-name-container > .head-name > .title { color: #212529; }
.bch-theme-light .bch-table-head-container .head-filtering .bch-input-text,
.bch-theme-light .bch-table-head-container .head-filtering .bch-input-number { border-color: #E9EAEC; }

.bch-theme-dark .bch-table-head-container > .head-name-container.bch-filtering { border-bottom-color: #374151; }
.bch-theme-dark .bch-table-head-container > .head-name-container > .head-name { background: #111827; }
.bch-theme-dark .bch-table-head-container > .head-name-container > .head-name > .title { color: #E5E7EB; }
.bch-theme-dark .bch-table-head-container .head-filtering .bch-input-text,
.bch-theme-dark .bch-table-head-container .head-filtering .bch-input-number { 
    border-color: #E9EAEC; 
    color: #E5E7EB; 
    background: #111827 url("img/search-white.svg") no-repeat;
    background-position: 5%;
}
.bch-theme-dark .bch-table-head-container .head-filtering .bch-select-container { background: #111827; }
.bch-theme-dark .bch-table-head-container .head-filtering .bch-select-container .bch-button { background: #111827; }
.bch-theme-dark .bch-table-head-container .head-filtering .bch-select-container .bch-button label { color: #E5E7EB; }
.bch-theme-dark .bch-table-head-container .head-filtering .bch-select-container .bch-button input { color: #E5E7EB; background: #111827; }
.bch-theme-dark .bch-table-head-container .head-filtering .bch-select-container .bch-button input::placeholder { color: rgba(229,231,235,0.7); }
.bch-theme-dark .bch-table-head-container .head-filtering .bch-input-text::placeholder,
.bch-theme-dark .bch-table-head-container .head-filtering .bch-input-number::placeholder { color: #E5E7EB; }
.bch-theme-dark .bch-table-head-container .head-filtering .bch-select-data { border-color: #E9EAEC; color: #E5E7EB; background: #111827; }

.bch-table-head-container { position: relative; }
.bch-table-head-container > .bch-col-resizer {
    position: absolute;
    right: -12px;
    top: 1px;
    height: 54px;
    width: 24px;
    cursor: col-resize;
    z-index: 3;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--icon-primary);
}

.bch-table-head-container > .bch-col-resizer .bch-resize-icon {
    width: 24px;
    height: 24px;
    opacity: 0.9;
    display: block;
    pointer-events: none;
}

.bch-table-head-container > .bch-col-resizer:hover .bch-resize-icon { opacity: 1; }

.bch-table-head-container > .bch-col-resizer .bch-resize-icon { filter: invert(0); }
.bch-theme-dark .bch-table-head-container > .bch-col-resizer .bch-resize-icon,
.bch-theme-dark.bch-table-head-container > .bch-col-resizer .bch-resize-icon { filter: invert(1); }
