@page "/datepicker"
@using Bch.Components.RangeCalendar
@using Bch.Modules.Themes.Models
@using Bch.Components.Calendar.Models

<div>
    <h3>Range Calendar Component Test</h3>

    <div class="test-cases">
        <div class="test-case">
            <h4>Themed Variants</h4>
            <div class="themes-row">
                <div class="theme-col">
                    <h5>Light Green</h5>
                    <BchRangeCalendar Culture="en-US" Format="MM/dd/yyyy" Theme="BchTheme.LightGreen" />
                </div>
                <div class="theme-col">
                    <h5>Light</h5>
                    <BchRangeCalendar Culture="en-US" Format="MM/dd/yyyy" Theme="BchTheme.Light" />
                </div>
                <div class="theme-col">
                    <h5>Dark</h5>
                    <BchRangeCalendar Culture="en-US" Format="MM/dd/yyyy" Theme="BchTheme.Dark" />
                </div>
            </div>
        </div>
    </div>

    <div class="test-cases">
        <div class="test-case">
            <h4>Test Case 1: Empty Range</h4>
            <p>Selected range: @(FormatRange(_range1))</p>
            <BchRangeCalendar @bind-Values="_range1" Culture="en-US" Format="MM/dd/yyyy" />
        </div>

        <div class="test-case">
            <h4>Test Case 2: Preselected Start</h4>
            <p>Selected range: @(FormatRange(_range2))</p>
            <BchRangeCalendar @bind-Values="_range2" Culture="en-US" Format="MM/dd/yyyy" />
        </div>

        <div class="test-case">
            <h4>Test Case 3: Preselected Full Range</h4>
            <p>Selected range: @(FormatRange(_range3))</p>
            <BchRangeCalendar @bind-Values="_range3" Culture="en-US" Format="MM/dd/yyyy" />
        </div>
    </div>
</div>

<style>
    html { height: 100%; }
    body { height: 100%; }
    #app { height: 100%; }
</style>