@page "/cropper"
@using Bch.Components.Cropper
@using Bch.Components.Cropper.Models

<div>
    <h3>Cropper Component Test</h3>

    <div class="test-cases">
        <div class="test-case">
            <h4>Basic Cropper</h4>
            <div class="row">
                <div class="demo-box">
                    <div class="demo-area">
                        <BchCropper @ref="_bchCropper"
                                    BackgroundColor="#fdf1d8"
                                    ScaleOnMouseWheel="true"
                                    CropperType="CropperType.MovableRectangle"
                                    ImageUrl="_content/Bch.Integration.Pages/img/slider-test-image.svg"
                                    Ratio="@(16.0f / 9.0f)"
                                    MinRectangleWidth="100"
                                    MinRectangleHeight="100"/>
                    </div>
                    <button @onclick="OnGetResultAsync">Get Result</button>
                </div>
                <div class="demo-box">
                    <div class="demo-area preview-area">
                        @if (!string.IsNullOrWhiteSpace(_previewImageUrl))
                        {
                            <img src="@_previewImageUrl" alt=""/>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    html {
        height: 100%;
    }

    body {
        height: 100%;
    }

    #app {
        height: 100%;
    }
</style>